{% extends "page_base.html" %}

{% block img_slider_section %}
    <div class="outer-fill-area">
        <div class="about-wrapper">
            <div class="about-core"></div>
        </div>
    </div>

    <!-- start about desc-text -->
    <div class="desc-text text-center text-light text-uppercase">
        <h1 class="font-weight-bold os-animation" data-animation="animate__animated animate__fadeInUp" data-delay=".6s">All About <span class="text-nuno">Where's My Book?</span></h1>
        <h3 class="os-animation" data-animation="animate__animated animate__fadeInUp" data-delay=".8s">What Makes Us Great</h3>
        <a href="#qualities" class="btn btn-outline-light btn-lg rounded-0 os-animation" data-animation="animate__animated animate__fadeInUp" data-delay="1s">So Tell Me</a>
    </div>
    <!-- end about desc-text -->

    <!-- start bouncing Book -->
    <a href="#qualities" class="down-book text-center">
        <div class="bouncing-book d-none d-md-block">
            <i class="fas fa-book"></i>
        </div>
    </a>
    <!-- end bouncing Book -->
{% endblock %}

{% block body %}

    <!-- Company Qualities Row -->
    <h2 id="qualities" class="text-center about-header-style">Company Qualities We Abide By</h2>
    <div class="header-bottom-border"></div>
    <div class="row">
        <!-- Box 1 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInLeft" data-delay=".05s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="fas fa-network-wired fa-inverse" data-fa-transform="shrink-7 left-2"></i>
                </span>
                    <h3 class="mt-2">Digital Library Network</h3>
                    <p>As well as having access to our massive physical book inventory, you also have access to our network of online ebook libraries
                        and associated library network.</p>
                </div>
            </div>
        </div>
        <!-- End Box 1 -->

        <!-- Box 2 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInUp" data-delay=".1s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="fas fa-headset fa-inverse" data-fa-transform="shrink-6"></i>
                </span>
                    <h3 class="mt-2">24-Hour Customer Support</h3>
                    <p>Our Customer Service Department works tirelessly to help you with any problem you may have, around the clock.</p>
                </div>
            </div>
        </div>
        <!-- End Box 2 -->

        <!-- Box 3 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInRight" data-delay=".15s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="fas fa-book fa-inverse" data-fa-transform="shrink-6"></i>
                </span>
                    <h3 class="mt-2">Extensive Book Inventory</h3>
                    <p>Our book collection is vast and diverse. We are avid collectors of the latest and greatest novels to hit the shelves.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Box 3 -->

        <!-- Box 4 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInLeft" data-delay=".05s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="fas fa-truck fa-inverse" data-fa-transform="shrink-7 left-2"></i>
                </span>
                    <h3 class="mt-2">Fixed Rate Shipping</h3>
                    <p>Unlike other bookstores, we offer a flat-rate shipping fee anywhere.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Box 4 -->

        <!-- Box 5 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInUp" data-delay=".1s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="fas fa-user-graduate fa-inverse" data-fa-transform="shrink-6"></i>
                </span>
                    <h3 class="mt-2">Student Discounts</h3>
                    <p>Let us know your academic status at any academic institution and we will throw in an extra 10% off any purchase.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Box 5 -->

        <!-- Box 6 -->
        <div class="col-sm-6 col-md-4">
            <div class="os-animation" data-animation="animate__animated animate__fadeInRight" data-delay=".15s">
                <div class="quality-box-style text-center">
                <span class="fa-layers fa-4x">
                  <i class="fas fa-circle"></i>
                    <i class="far fa-handshake fa-inverse" data-fa-transform="shrink-6 left-2"></i>
                </span>
                    <h3 class="mt-2">Book Club Meetups</h3>
                    <p>Join our book club and receive a discount. You can attend weekly meet ups and make new friends as well.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Box 6 -->
    </div><!-- End Company Qualities Row -->

    <!-- start the number counter -->

    <h2 class="text-center about-header-style">Interesting Facts</h2>
    <div class="header-bottom-border"></div>

    <div class="row justify-content-center text-center">
        <div class="col-md-9 col-lg-12 col-xl-11">
            <div class="row">
                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInDown" data-delay=".1s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-book fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">955</span></h3>
                    <h4 class="font-weight-bold">Million Books</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInDown" data-delay=".2s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">425</span></h3>
                    <h4 class="font-weight-bold">Library Networks</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInDown" data-delay=".3s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-donate fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1">$<span class="counter">125</span></h3>
                    <h4 class="font-weight-bold">Million Donated</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInDown" data-delay=".4s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-glass-cheers fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">35</span></h3>
                    <h4 class="font-weight-bold">Years in the Business</h4>
                </div>
                <!-- second row of elements -->
                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInUp" data-delay=".4s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="far fa-handshake fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">245</span></h3>
                    <h4 class="font-weight-bold">Meet Up Groups</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInUp" data-delay=".3s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-award fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">624</span></h3>
                    <h4 class="font-weight-bold">Bookstore Awards</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInUp" data-delay=".2s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-store fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">590</span></h3>
                    <h4 class="font-weight-bold">Physical Stores</h4>
                </div>

                <div class="facts-box-style col-md-6 col-lg-3 os-animation pb-5" data-animation="animate__animated animate__fadeInUp" data-delay=".1s">
								<span class="facts-icons fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
								</span>
                    <h3 class="font-weight-bold py-1"><span class="counter">855</span>K</h3>
                    <h4 class="font-weight-bold">Loyal Customers</h4>
                </div>

            </div> <!-- end counter row -->
        </div> <!-- end counter column -->
    </div> <!-- end counter outer row justified -->
    <!-- end counter section -->
{% endblock %}