{% extends "page_base.html" %}

{% block body %}
    <div class="jumbotron mt-4">
        <h1 class="display-4 os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".05s">Forgot Password Form</h1>
        <p class="lead os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".1s">Please provide the email associated with your account, and a temporary password will be emailed to you.</p>
        <hr class="my-4 os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".15s">
    </div>

    <form action="/forgot_password" method="POST">
        {{ forgot_pw_form.csrf_token }}
        <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input type="text" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="johndoe@gmail.com">
            <small id="emailHelp" class="form-text text-muted">Your email is never shared.</small>
        </div>
        <ul>
            {% for error in forgot_pw_form.email.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>

        <button type="submit" class="btn btn-primary">Recover Password</button>
    </form>

{% endblock %}