{% extends "page_base.html" %}
{% block body %}

    <div class="jumbotron mt-4">
        <h1 class="display-4 os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".05s">Congratulations! Your order has been placed.</h1>
        <p class="lead os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".1s">You should receive your order in the mail within 4 business days.</p>
        <hr class="my-4 os-animation" data-animation="animate__animated animate__fadeIn" data-delay=".15s">
        <p>Please continue to browse through all our books and continue shopping.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">Return Home</a>
    </div>

{% endblock %}
